body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    
}
p{
    line-height: 3;
    padding-bottom: 20px;
}
hr {
    border: dotted #45c7ee 6px ;
    border-bottom: none;
    width:4%;
    margin: 100px auto;
}
  

.shanks
{
    height: 200px;
    width: 300px;
    border-radius: 100%;
}
.mountain
{
    padding-bottom: 40px;
    padding-top: 40px;
    height: 600px;
}
h1
{
     margin-top: 100px;
     margin-bottom: 50px;
    font-size: 5.625em;
    color: #B1B2FF;
    
   
    font-family: 'Sacramento', cursive;


}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color: #6869bb;
    font-weight: normal;
    opacity: 70%;
    padding-bottom: 10px;
  

}
h3{
    font-family: 'Montserrat', sans-serif;
    
}
a{
    font-family: 'Montserrat', sans-serif;
    margin :10px 20px;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
}
.top-container
{
    background-color: #EEF1FF;
    
    padding-top: 50px;
}
.middle-container
{
   margin:100px 0;
}

.bottom-container
{
  background-color:#B1B2FF;
  padding: 50px 0 20px;
}
.topcloud
{   height: 200px;
    
    position: absolute;
    right: 200px;
    top:50px;
}
.middlecloud
{
    position: absolute;
    height: 200px;
    left: 200px;
    bottom: 600px;
    
}
.skill-row
{

    margin:100px auto 100px auto;
    width: 50%;
    text-align: left;
    
    
    
    
}
.skill1{
    width: 20%;
    background-color: #6869bb;
    border-radius: 100%;
    float:left;
    margin-right: 30px;
   
}
.skill2{
    width: 20%;
    background-color: #AAC4FF;
    border-radius: 100%;
    position: relative;
    left:600px;

    
}
.photo
{
    position:relative;
    bottom: 200px;
    left:200px;
}
.skills
{
    
}


.intro{
    width : 30%;
    margin: auto;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
  .copyright
  {
    color: #EAF6F6;
   font-size: 0.75rem;
   padding: 20px 0;
   
   
  }